body {
    background-color: #025714;
}

h1,
p {
    color: #fff;
}

h2,
.time,
.jobs,
.letterM {
    color: #c4ca31
}

.letterC {
    color: #95ffa1;
}

.logo {
    width: 10em;
}

.worker {
    width: 30em;
}

.parttime {
    color: #8a9294;
}