/*
    Opdracht:     Hoofdstuk 11 opdracht 2
    Auteur:       David Siqueira Klein Velderman
    Aanmaakdatum: 04/02/2020
    Bestandsnaam: index.html
*/
body
{
    margin: 0px;
    padding: 0px;
}

canvas 
{
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

canvas+canvas
{
    position: absolute;
    left: 400px;
    top: 0px;
    color: blue;
}

img
{
    height: 50px;
}
