.articlestuffvertical{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.articlestuffrow{
	display: flex;
	flex-direction: row;
}

@media screen and (max-width: 480px) {
	
	.articlestuffrow{
		display: flex;
		flex-wrap: wrap;
	}
}